{% extends "main/layout.html" %}
{% load static %}

{% block body %}
 <aside>
        <div class="wrapper"><a href="/">
            <div class="logo_part">
                <img src="{% static 'img/mladoslavicon.png' %}" alt="logoo" class="logo_img">
                <span class="logo">система М<span style="color: white">л</span>адослав</span>
            </div></a>

        <h3>Навигация</h3>
            <a class="button" href='http://127.0.0.1:8000/server/?type=view'>
                <p>Данные</p>
            </a>
        </div>

</aside>
{% endblock %}